@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #030712;
    --card: #ffffff;
    --card-foreground: #030712;
    --popover: #ffffff;
    --popover-foreground: #030712;
    --primary: #7c3aed;
    --primary-foreground: #f9fafb;
    --secondary: #f3f4f6;
    --secondary-foreground: #111827;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #f3f4f6;
    --accent-foreground: #111827;
    --destructive: #ef4444;
    --destructive-foreground: #f9fafb;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #7c3aed;
    --radius: 0.75rem;
  }

  .dark {
    /* --background: #0c062a; */
    --background: 236 17% 18%;
    --background-hover: #35374c;
    --foreground: #f9fafb;
    --card: 248 26% 11%;
    --card-foreground: #f9fafb;
    --popover: #030712;
    --popover-foreground: #f9fafb;
    --primary: #ff4d61;
    --primary-hover: #ff334b;
    --primary-foreground: #f9fafb;
    --secondary: #1f2937;
    --secondary-foreground: #f9fafb;
    --muted: #1f2937;
    --muted-foreground: #9ca3af;
    --accent: #1f2937;
    --accent-foreground: #f9fafb;
    --destructive: #c32020;
    --destructive-foreground: #f9fafb;
    --border: #1f2937;
    --input: #1f2937;
    --ring: #ff4d61;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #171523; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}
